body{
    margin:0;
}
.profile{
    height:800px;
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: black;
}
.kartu{
    width: 200px;
    height:450PX;
    background-color: rgb(43, 134, 0);
    padding: 5px 10px;
    border-radius: 25px;
}
.kartu a{
    text-decoration: none;
    padding: 5px 10px;
}
.kartu img{
    width: 100%;
    border-radius: 100%;
    padding-top: 5px;
}
.deskripsi{
    padding: 5px;
    color: rgb(255, 255, 255);
}
p{
    text-align: center;
}
h2{
    padding-left: 50px;
}
.medsos{
    padding: 45px;
}
.medsos a{
    justify-content: space-between;
    scale: 150%;
    filter: drop-shadow(1px 1px 1px rgb(0, 0, 0));
    text-decoration: none;
}
.medsos a:hover{
    border-radius: 50px;
    background-color: burlywood;
    transition: 0.73461s;
}